[Unit]
Description=Canteeners Database
After=network-online.target

[Container]
ContainerName=canteeners-db-prod
Image=postgres:15-alpine
EnvironmentFile=/var/www/canteeners/.env/db.prod
PublishPort=3003:5432
Volume=canteeners-db-data.volume:/var/lib/postgresql/data
Network=canteeners.network

[Install]
WantedBy=multi-user.target default.target
